
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  
  
  
  #sidebar {
    /* min-width: 350px; */
    max-width: 350px;
    background: #212121;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
    #sidebar .h6 {
      color: #fff; }
    #sidebar.active {
      margin-left: -200px; }
      #sidebar.active .custom-menu {
        margin-right: -50px; }
    #sidebar h1 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px; }
      #sidebar h1 .logo {
        color: #fff;
        display: block;
        padding: 10px 30px;
        background: #2f89fc; }
    #sidebar ul.components {
      padding: 0; }
    #sidebar ul li {
      font-size: 16px; }
      #sidebar ul li > ul {
        margin-left: 10px; }
        #sidebar ul li > ul li {
          font-size: 14px; }
      #sidebar ul li a {
        padding: 15px 30px;
        display: block;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
        #sidebar ul li a:hover {
          color: #fff;
          background: #2f89fc;
          border-bottom: 1px solid #2f89fc; }
      #sidebar ul li.active > a {
        background: transparent;
        color: #fff; }
        #sidebar ul li.active > a:hover {
          background: #2f89fc;
          border-bottom: 1px solid #2f89fc; }
    
    
  
  
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  
  
    .contain{
      box-shadow: 2px 3px 20px rgb(71, 66, 66);
      padding: 5%;
    }


.enable-mint{
  width: 100%; 
}

@media only screen and (max-width:77px){
  .admin-nav{
    display: inline-block;
  }
  .admin-form{
    display: inline-block;
  }
  
}
.chng-btn{
  padding-top: 5%;
}